*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
    "celda1 celda1 celda1 celda2 celda2 celda2"
    "celda3 celda3 celda4 celda4 celda4 celda4"
    "celda5 celda5 celda5 celda5 celda5 celda5";
    gap: 2px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.div1{
    grid-area: celda1;
    background-color: gray;
    padding: 30px;
}
.div2{
    grid-area: celda2;
    background-color: #ada4a4;
    padding: 30px;
}
.div3{
    grid-area: celda3;
    background-color: #3b3939;
    padding: 30px;
}
.div4{
    grid-area: celda4;
    background-color: #cab7b7;
    padding: 30px;
}
.div5{
    grid-area: celda5;
    background-color: #c29595;
    padding: 30px;
}
    



    